<div id="welcome-content">
    <h1><strong>Bienvenidos</strong></h1>
    <p>
        <strong>Desarrollamos y<span class="colored-background-text"> promovemos investigación,
        </span> innovación y divulgación sobre <span class="text-with-underline digital-technology">tecnología digital</span> 
        y aprendizaje, en 
        <span class="text-with-underline uruguay-latam underlined-text-large-screen">Uruguay y América Latina</span> 
        <span class="text-with-underline uruguay-latam underlined-text-small-screen">Uruguay y</span> 
        <span class="text-with-underline uruguay-latam underlined-text-small-screen">América Latina</span></strong>
    </p>
</div>