/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* Ancho de la scrollbar */
body::-webkit-scrollbar {
    width: 4px;
}
  
/* Fondo de la scrollbar */
body::-webkit-scrollbar-track {
    background: rgb(92, 92, 92);
}

/* Color de la barra de desplazamiento */
body::-webkit-scrollbar-thumb {
    background: #000000; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados */
  }