<div class="reposory-content">
    <div id="repository-header" class="border-bottom">
        <h1> Repositorio</h1>
        <p>Repositorio institucional 
            de Boron Studio</p>
    </div>
    <div class="repository-elements">
        <p>Autor</p>
        <div class="hover-container author-image">
            <i class="fa-solid fa-arrow-right iiii"></i>
        </div>
    </div>
    <div class="repository-elements">
        <p>Título</p>
        <div class="hover-container title-image">
            <i class="fa-solid fa-arrow-right iiii"></i>
        </div>
    </div>
    <div class="repository-elements">
        <p>Líneas de navegación</p>
        <div class="hover-container lines-image">
            <i class="fa-solid fa-arrow-right iiii"></i>
        </div>
    </div>
    <div class="repository-elements">
        <p>Descrpciones</p>
        <div class="hover-container description-image">
            <i class="fa-solid fa-arrow-right iiii"></i>
        </div>
    </div>
</div>