<div class="footer-container">
    <div id="footer-content">
        <img id="outside-logo" src="../../assets/logos/BORON-WHITE-LOGO.png" alt="">
        <div id="footer-subscription-content">
            <img id="inside-logo" src="../../assets/logos/BORON-WHITE-LOGO.png" alt="">
            <h1>Enterate De Las Últimas Novedades</h1>
            <div id="contact-container">                
                <div id="subscribe-container">
                    <p>SUBSCRIBETE A NUESTRO NEWSLETER</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div id="contacts">
                    <span>info@boronstudio.com</span>
                    <div>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-links-content">
            <p>Acerca De</p>
            <p>Proyectos</p>
            <p>Repositorios</p>
            <p>Novedades</p>
            <p>Contacto</p>
            <p>Lineas De Investigación</p>
            <p>Información Financiera</p>
        </div>
    </div>
    <div class="copyright">
        <p id="all-rights-reserved"><strong>&copy;2023 Todos los derechos reservados. Boron Studio</strong></p>
        <p><strong>By Boron Studio</strong></p>
    </div>
</div>