<div id="text-plus-image-container">

    <div class="text-container">
        <h3><strong>NUESTRO ENFOQUE</strong></h3>
        <h1>Está orientado a problematizar y aportar ideas y soluciones a la implementacion actual y futura de Boron Studio y de otros actores nacionales e internacionales.</h1>
    </div>

    <div class="image-container">
        <img src="../../assets/images/text-plus-image.jpeg" alt="">
    </div>

</div>

<div id="slider-plus-image-container">

    <div class="image-container">
        <img src="../../assets/images/image-plus-slider.png" alt="">
    </div>

    <div class="slider-container">
        <div>
            <h3><strong>SEGUINOS EN TWITTER</strong></h3>   
            <i class="fa-brands fa-twitter"></i>
            <div id="boron-studio">
                <h1><strong>Boronstudio</strong></h1>
                <p><strong>@Boronstudio</strong></p>
            </div>
        </div>

        <div class="slider">
            <div class="slides">
                <div class="slide active">
                    <i class="fa-solid fa-thumbtack" style="color: rgb(255, 0, 0); transform: rotate(45deg);"></i>
                    <span class="slide-white-text">#OportunidadLaboral</span>
                    <span class="slide-black-text">Llamado abierto para sumarse al equipo de </span>
                    <span class="slide-white-text">@Boronstudio</span>
                    <span class="slide-black-text">master digital.</span>
                    <span class="slide-black-text">👨‍💻👩‍💻</span>
                    </br>
                    <span class="slide-black-text">Más información</span>
                    <span class="slide-white-text">👉 https://bit.ly/2OoblHS</span>
                </div>
                <div class="slide">
                    <i class="fa-regular fa-lightbulb" style="color: rgb(255, 208, 0);"></i>
                    <span class="slide-white-text">#Integracíon</span>
                    <span class="slide-black-text">Te inivitamos a participar de nuestras </span>
                    <span class="slide-white-text">presentaciones online</span>
                    <span class="slide-black-text">con nuestro equipo técnico.</span>
                    <span class="slide-black-text">🤝</span>
                    </br>
                    <span class="slide-black-text">Acercate en</span>
                    <span class="slide-white-text">👉 https://bit.ly/2OoblHS</span>
                </div>
                <div class="slide">
                    <i class="fa-solid fa-hurricane" style="color: rgb(163, 57, 224);"></i>
                    <span class="slide-white-text">#Conocenos</span>
                    <span class="slide-black-text">Interactua con nuestra web online para conocer</span>
                    <span class="slide-white-text">@Boronstudio</span>
                    <span class="slide-black-text">desde adentro.</span>
                    <span class="slide-black-text">🫸🫷</span>
                    </br>
                    <span class="slide-black-text">Clickea en</span>
                    <span class="slide-white-text">👉 https://www.boronstudio.com/</span>
                </div>
            </div>
        </div>
        
        <div id="prev-next-buttons">
            <i class="fa-solid fa-arrow-left slider-left"></i>
            <i class="fa-solid fa-arrow-right slider-right"></i>
        </div>

        <div id="slider-indicator">
            <div id="slider-points">
                <i class="fa-solid fa-circle indicator"></i>
                <i class="fa-solid fa-circle indicator"></i>
                <i class="fa-solid fa-circle indicator"></i>
            </div>
        </div>
        
    </div>

</div>