<div class="marquee-container">
    <div class="marquee-elements-left">
        <img class="marquee-image" src="../../assets/images/mq-1a.jpeg" alt="marquee-image-design-a">
        <h1>Diaseño</h1>
        <img src="../../assets/images/mq-1b.jpeg" alt="marquee-image-design-b">
        <h1>Arquitectura</h1>
        <img class="marquee-image" src="../../assets/images/mq-1a.jpeg" alt="marquee-image-design-a">
        <h1>Diseño</h1>
        <img src="../../assets/images/mq-1b.jpeg" alt="marquee-image-design-b">
        <h1>Arquitectura</h1>
    </div>
    <div class="marquee-elements-right">
        <img class="marquee-image" src="../../assets/images/mq-2a.png" alt="marquee-image-design-a">
        <h1>Tecnología</h1>
        <img src="../../assets/images/mq-2b.jpg" alt="marquee-image-design-b">
        <h1>Innovación</h1>
        <img class="marquee-image" src="../../assets/images/mq-2a.png" alt="marquee-image-design-a">
        <h1>Tecnología</h1>
        <img src="../../assets/images/mq-2b.jpg" alt="marquee-image-design-b">
        <h1>Innovación</h1>
    </div>
    <div class="marquee-elements-left">
        <h1>Uruguay</h1>
        <img class="marquee-image" src="../../assets/images/mq-3a.jpeg" alt="marquee-image-design-a">
        <h1>Paisaje</h1>
        <img src="../../assets/images/mq-3b.jpeg" alt="marquee-image-design-b">
        <h1>Uruguay</h1>
        <img class="marquee-image" src="../../assets/images/mq-3a.jpeg" alt="marquee-image-design-a">
        <h1>Paisaje</h1>
        <img src="../../assets/images/mq-3b.jpeg" alt="marquee-image-design-b">
    </div>
</div>