<div class="news-title">
    Novedades
</div>
<div class="news-elements-container">
    <div class="news-pair">
        <div class="news-element">
            <div class="news-element-image webinar-image">
                <div class="news-element-color webinar-color">
                    <div class="element-title">
                        <h2>WEBINAR</h2>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <h1>Boron Studio invita a webinar sobre educación híbrida</h1>
                </div>
            </div>
        </div>
        <div class="news-element"> 
            <div class="news-element-image presentation-image">
                <div class="news-element-color presentation-color">
                    <div class="element-title">
                        <h2>PRESENTACIÓN</h2>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <h1>Boron Studio invita a webinar sobre educación híbrida</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="news-pair">
        <div class="news-element">
            <div class="news-element-image event-image">
                <div class="news-element-color event-color">
                    <div class="element-title">
                        <h2>EVENTO</h2>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <h1>Boron Studio presenta experiencia de educación a distancia en México</h1>
                </div>
            </div>
        </div>
        <div class="news-element">
            <div class="news-element-image publication-image">
                <div class="news-element-color publication-color">
                    <div class="element-title">
                        <h2>PUBLICACIÓN</h2>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <h1>Publicación del libro "Tecnología: Lo que puede y no puede hacer por la educación"</h1>
                </div>
            </div>
        </div>
    </div>
</div>