<div>
    <nav id="expanded-nav" class="navbar nav-transition">
        <img id="nav-expanded-logo" src="../../assets/logos/BOROn-LOGO.png" alt="Boron Studio logo">
        <ul>
            <li>Acerca de</li>
            <li>Proyectos</li>
            <li>Repositorios</li>
            <li>Novedades</li>
            <li>Contacto</li>
            <li>EN / <strong>ES</strong></li>
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
        </ul>
    </nav>
    
    <nav id="collapsed-nav" class="navbar nav-transition">
        <img id="nav-collapsed-logo" src="../../assets/logos/B-LOGO.png" alt="Boron Studio short logo">
        <div id="nav-collapsed-menu">Menu <i class="fa-solid fa-bars-staggered"></i></div>
    </nav>

    <div id="menu-options-container" class="nav-menu-closed nav-menu-transition">
        <div id="close-menu">
            <img src="../../assets/logos/BORON-WHITE-LOGO.png" alt="">
            <div id="close-menu-button">
                <p>Cerrar</p>
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div id="menu-links">
            <ul>
                <li>Acerca de</li>
                <li>Proyectos</li>
                <li>Repositorios</li>
                <li>Novedades</li>
                <li>Contacto</li>
                <div id="lenguage-and-search">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li>EN / <strong>ES</strong></li>
                </div>
            </ul>
        </div>
        <div id="menu-contact-container">                
            <div id="menu-subscribe-container">
                <p>SUBSCRIBETE A NUESTRO NEWSLETER</p>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div id="menu-contacts-container">
                <span id="gmail-contact">info@boronstudio.com</span>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
</div>